# --------------------------
# Database Configuration
# --------------------------

# Set to 'true' to use PostgreSQL (Supabase), 'false' to use SQLite (for local testing)
USE_POSTGRES=true

# PostgreSQL / Supabase Configuration (Session Pooler — IPv4 compatible)
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres.apllzkyzliyifzcxwsjb
SUPABASE_DB_PASSWORD=EasyRentDBMP
SUPABASE_DB_HOST=aws-1-ap-south-1.pooler.supabase.com
SUPABASE_DB_PORT=5432

# Full Database URL (used in production)
DATABASE_URL=postgresql://postgres.apllzkyzliyifzcxwsjb:EasyRentDBMP@aws-1-ap-south-1.pooler.supabase.com:5432/postgres


# --------------------------
# Django Configuration
# --------------------------

SECRET_KEY=django-insecure-73t0g!=i6#-v#=e1a$j=)v6cbtdo+1jywwci#$x$nzxyb3+1q1
DEBUG=false
ALLOWED_HOSTS=localhost,127.0.0.1,majorproject-esyrent.onrender.com

# Website Base URL (for links in emails)
WEBSITE_URL=https://majorproject-esyrent.onrender.com


# --------------------------
# Email Configuration
# --------------------------

EMAIL_HOST_USER=rc.goutam.choudhary@gmail.com
EMAIL_HOST_PASSWORD=dlmy agfp fbfd aiel
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
