albucore==0.0.24
albumentations==2.0.8
annotated-types==0.7.0
asgiref==3.9.1
dj-database-url==3.0.1
dj-rest-auth==7.0.1
Django==4.2.16
django-allauth==65.11.0
django-cors-headers==4.7.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
gunicorn==23.0.0
numpy==2.2.6
opencv-python-headless==4.12.0.88
packaging==25.0
pillow==11.3.0
psycopg==3.2.10
psycopg-binary==3.2.10
pydantic==2.11.7
pydantic_core==2.33.2
PyJWT==2.10.1
python-dotenv==1.0.0
pytz==2025.2
PyYAML==6.0.2
scipy==1.15.3
simsimd==6.5.1
sqlparse==0.5.3
stringzilla==3.12.6
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
whitenoise==6.11.0
